@import url('https://fonts.googleapis.com/css?family=Poppins');

.container {
    padding-top: 150px;
    padding-bottom: 10px;
    color: #405065;
  }
  
 :host {
	 font-family: "Inter";
}
 .bg-dark, .btn-dark {
	 background: #222831 !important;
	 color: #fafafa;
}
 .bg-light {
	 background: #fafafa !important;
	 color: #222831 !important;
}
 .bg-transparent {
	 background: transparent !important;
	 border: transparent !important;
}
 .bg-primary-gradient {
	 background: #02bcc4;
	 background: linear-gradient(90deg, rgba(2, 188, 196, 1) 0%, rgba(0, 173, 181, 1) 45%);
}
 .bg-primary {
	 background: #00adb5 !important;
}
 .btn-primary {
	 background: #00adb5 !important;
	 border-color: #00adb5 !important;
}
 .rounded-1 {
	 border-radius: 0.5rem !important;
}
 .rounded-2 {
	 border-radius: 1rem !important;
}
 .rounded-3 {
	 border-radius: 2rem !important;
}
 .flip-vertical {
	 transform: scaleY(-1);
}
 .text-primary {
	 color: #2c9d30 !important;
}
 .w-70 {
	 width: 70% !important;
}
 .text-shadow-xl {
	 text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}
 .cursor-pointer {
	 cursor: pointer;
}
 .shadow-xl {
	 box-shadow: 0 0.5rem 1rem #000 !important;
}
 